<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laporan Roti Terlaris</title>
</head>
<body>
    <h1>Laporan Roti Terlaris</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nama Roti</th>
                <th>Total Dipesan</th>
            </tr>
        </thead>
        <tbody>
            {% for roti in roti_terlaris %}
            <tr>
                <td>{{ roti.idRoti__nama_roti }}</td>
                <td>{{ roti.total_dipesan }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
